<!DOCTYPE html>
<head>    
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    
        <script>
            L_NO_TOUCH = false;
            L_DISABLE_3D = false;
        </script>
    
    <style>html, body {width: 100%;height: 100%;margin: 0;padding: 0;}</style>
    <style>#map {position:absolute;top:0;bottom:0;right:0;left:0;}</style>
    <script src="https://cdn.jsdelivr.net/npm/leaflet@1.6.0/dist/leaflet.js"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet@1.6.0/dist/leaflet.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/python-visualization/folium/folium/templates/leaflet.awesome.rotate.min.css"/>
    
            <meta name="viewport" content="width=device-width,
                initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
            <style>
                #map_4dc376fdd592422eb579415dc3c2a51b {
                    position: relative;
                    width: 100.0%;
                    height: 100.0%;
                    left: 0.0%;
                    top: 0.0%;
                }
            </style>
        
</head>
<body>    
    
            <div class="folium-map" id="map_4dc376fdd592422eb579415dc3c2a51b" ></div>
        
</body>
<script>    
    
            var map_4dc376fdd592422eb579415dc3c2a51b = L.map(
                "map_4dc376fdd592422eb579415dc3c2a51b",
                {
                    center: [0, 0],
                    crs: L.CRS.EPSG3857,
                    zoom: 1,
                    zoomControl: true,
                    preferCanvas: false,
                }
            );

            

        
    
            var tile_layer_3acb5475580a431cbd16bf747742544b = L.tileLayer(
                "https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png",
                {"attribution": "Data by \u0026copy; \u003ca href=\"http://openstreetmap.org\"\u003eOpenStreetMap\u003c/a\u003e, under \u003ca href=\"http://www.openstreetmap.org/copyright\"\u003eODbL\u003c/a\u003e.", "detectRetina": false, "maxNativeZoom": 18, "maxZoom": 18, "minZoom": 0, "noWrap": false, "opacity": 1, "subdomains": "abc", "tms": false}
            ).addTo(map_4dc376fdd592422eb579415dc3c2a51b);
        
    
            var feature_group_757ace57507a4ac6ad3a79a3a33c2e13 = L.featureGroup(
                {}
            ).addTo(map_4dc376fdd592422eb579415dc3c2a51b);
        
    
            var circle_marker_3a2e5721ed2d4398ad11b9f2451ff51b = L.circleMarker(
                [54.7261409, 55.947499],
                {"bubblingMouseEvents": true, "color": "red", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "red", "fillOpacity": 1.0, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 10, "stroke": true, "weight": 3}
            ).addTo(feature_group_757ace57507a4ac6ad3a79a3a33c2e13);
        
    
        var popup_a1dad69e5c3b4903a7503753bac93b42 = L.popup({"maxWidth": "100%"});

        
            var html_2f1acecd73b2406293f9ae41769732ce = $(`<div id="html_2f1acecd73b2406293f9ae41769732ce" style="width: 100.0%; height: 100.0%;">eHcqquHHgtyE7nv</div>`)[0];
            popup_a1dad69e5c3b4903a7503753bac93b42.setContent(html_2f1acecd73b2406293f9ae41769732ce);
        

        circle_marker_3a2e5721ed2d4398ad11b9f2451ff51b.bindPopup(popup_a1dad69e5c3b4903a7503753bac93b42)
        ;

        
    
    
            circle_marker_3a2e5721ed2d4398ad11b9f2451ff51b.bindTooltip(
                `<div>
                     eHcqquHHgtyE7nv
                 </div>`,
                {"sticky": true}
            );
        
    
            var circle_marker_f4472987d8454ad1a5ce25ac3440e8c3 = L.circleMarker(
                [1.2816838, 103.8499443],
                {"bubblingMouseEvents": true, "color": "red", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "red", "fillOpacity": 1.0, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 10, "stroke": true, "weight": 3}
            ).addTo(feature_group_757ace57507a4ac6ad3a79a3a33c2e13);
        
    
        var popup_b70af1826da74407ae0705ef06f7b825 = L.popup({"maxWidth": "100%"});

        
            var html_daea5f1730694e7d974ba45444b42b40 = $(`<div id="html_daea5f1730694e7d974ba45444b42b40" style="width: 100.0%; height: 100.0%;">Anakoyher</div>`)[0];
            popup_b70af1826da74407ae0705ef06f7b825.setContent(html_daea5f1730694e7d974ba45444b42b40);
        

        circle_marker_f4472987d8454ad1a5ce25ac3440e8c3.bindPopup(popup_b70af1826da74407ae0705ef06f7b825)
        ;

        
    
    
            circle_marker_f4472987d8454ad1a5ce25ac3440e8c3.bindTooltip(
                `<div>
                     Anakoyher
                 </div>`,
                {"sticky": true}
            );
        
    
            var circle_marker_2a1c1fef33af4b4c91a5fa61bbc700b3 = L.circleMarker(
                [16.2490067, -61.5650444],
                {"bubblingMouseEvents": true, "color": "red", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "red", "fillOpacity": 1.0, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 10, "stroke": true, "weight": 3}
            ).addTo(feature_group_757ace57507a4ac6ad3a79a3a33c2e13);
        
    
        var popup_4c1b06c907e3450e876fe2b734080543 = L.popup({"maxWidth": "100%"});

        
            var html_ab757dea65d8450fad847280fc42a2b9 = $(`<div id="html_ab757dea65d8450fad847280fc42a2b9" style="width: 100.0%; height: 100.0%;">JoN_TM</div>`)[0];
            popup_4c1b06c907e3450e876fe2b734080543.setContent(html_ab757dea65d8450fad847280fc42a2b9);
        

        circle_marker_2a1c1fef33af4b4c91a5fa61bbc700b3.bindPopup(popup_4c1b06c907e3450e876fe2b734080543)
        ;

        
    
    
            circle_marker_2a1c1fef33af4b4c91a5fa61bbc700b3.bindTooltip(
                `<div>
                     JoN_TM
                 </div>`,
                {"sticky": true}
            );
        
</script>
